<div class="container about">
  <a class="shadow-lg" routerLink="../reservations/new">
    Nová rezervácia
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  </a>
  <div class="about-content shadow-lg">
  <h1>
    Tennis Point
  </h1>
  <p>
    Spoločnosť Tennis Point bola založená v roku 2006 s cieľom vytvoriť krajší tenisový stánok pre
    klub založený v roku 1908 a vytvoriť oázu športu, krásy a zdravia v širšom centre mesta Žilina.
  </p>
    <p>
    Nájdete u nás 4 kryté tenisové dvorce s povrchom US Open a 2 bedmitonové dvorce Samozrejme ako aj
    meno naznačuje, nájdete tu aj Tenisový klub. ktorý dostal zrekonštruované priestory tenisových
    šatní kancelárie správcu, rozhodcov a sekretariát na 20 rokov za 1 korunu ročne.
      </p>
    <p>Po dobrom tenise
    sa patrí zrelaxovať. Túto možnosť poskytuje Wellness Centrum Oasis, kde Vás Michal Janovec postaví
    na nohy za pomoci svojich masérskych zručnosti, parnej a fínskej sauny a v budúcnosti aj malého 6x4m
    bazéna s proti prúdom. Keď už bude zrelaxovaný, môžete načerpať sily v tejto výbornej talianskej
    reštaurácii Vulcano, kde p. Martina Flimelová čaruje spolu so svojim Enzom. Myslím, že o kvalite
    ich čarovanie ste sa už viacerí presvedčili. Takto presvedčení a o niečo ťažší sa môžete vydať na 1.
    poschodie, kde Vám v štúdiu Pilates Vám pomôžu zbaviť sa práve získaných kalórií. Aby bol výsledok
    naozaj dokonalý, dermatologicko-laserove centrum DermaPoint Vám pomôže ubrať pár rokov z Vašej
    tváre. K peknej tvári patrí aj pekný úsmev so zdravými zubami. V Tennis Pointe sa o Váš úsmev s
    bielymi zubami postará MUDr. Miroslav Jandzík vo svojej stomatologickej ambulancii. Slovo krása
    dopĺňa obsahom ešte aj Magdaléna Schwarzová so svojím Kaderníctvom Femme Fatale a - Kozmetické
    salón Zuzany Palkovičovej. Všetky tieto priestory sú dnes otvorené, do ktorých Vás srdečne pozývame.
    Na mieste Vám radi povedia viac o tom, čo Vám môžu ponúknuť.
    </p>

  </div>
</div>


