<div class="edit">
    <form class="row g-3 edit-price shadow-lg" (submit)="submit() ">
      <label for="floatingInput">Nová cena</label>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="newPrice" placeholder={{price?.price}} [(ngModel)]="valuePrice">
        <label for="floatingInput">Cena</label>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn mb-3">Zmeniť cenu</button>
      </div>
    </form>
</div>
